// Spacing
$sp-xs: 0.25rem;
$sp-sm: 0.5rem;
$sp-md: 1rem;
$sp-line-h: 0.4rem;

// Font Sizes
$fs-xs: 0.8rem;
$fs-sm: 1rem;
$fs-md: 1.25rem;
$fs-xl: 8rem;

// Font Family
$font-main: Tahoma, sans-serif;

// Colours
$white: #FFFFFF;
$black: #000000;
$dusty-pink: #A16683;

// Breakpoints
$screen-xs: 768px;
$screen-sm: 960px;
$screen-md: 1024px;
$screen-lg: 1200px;
$screen-xl: 1440px;

// Transitions
$all-03: all 0.3s;
$all-05: all 0.5s;

// Border Radius
$br-xs: 2px;
$br-sm: 4px;

// Loader
$loader-h-w: 80px;
